.DS_Store
.vscode/
.claude/
# R specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
CLAUDE.md
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
/doc/
/Meta/
